# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase-adminsdk.json

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.local