# =========================
# FLUTTER
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# =========================
# ANDROID
# =========================
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# IOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# =========================
# MACOS
# =========================
macos/Pods/

# =========================
# LINUX
# =========================
linux/flutter/ephemeral/

# =========================
# WINDOWS
# =========================
windows/flutter/ephemeral/

# =========================
# FIREBASE
# =========================
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase-adminsdk.json

# =========================
# SUPABASE
# =========================
supabase/.temp/

# =========================
# LOCAL CONFIG
# =========================
dart_defines.json
.env
.env.local

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
.claude/

# =========================
# LOGS
# =========================
*.log

# =========================
# GENERATED / SYSTEM
# =========================
.DS_Store
Thumbs.db
.vercel
.env*
